*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
width: 100%;
height: 100vh;
padding: 10px 0;
background-color: black;
display: flex;
justify-content: center;
}
.App-header{
width: 600px;
border: 1px solid white;
border-radius: 5px;
/* overflow-y: scroll; */
}
.heading{
  color: wheat;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 10px 10px;
}
.addsection{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.userinput{
  width: 400px;
  height: 30px;
  padding: 3px 10px;

}
.addnote{
  height: 30px;
  width: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todos{
  /* background-color: bisque; */
  margin-top: 10px;
}
.todos ul{
  margin: 0 10px;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}
.todos ul li{
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.editbtn{
  /* width: 100px; */
}
.todos ul li button{
  margin: 0 10px 0 0;

}
.todos ul li i{
  font-size: 15px;
  padding: 5px;

}
